
<div class="carousel-inner" role="listbox" style="background-color: #dcb989;">
  <!-- .item -->
  <div class="item active">
    <div class="single-slide-item slide1">
      <div class="container">
        <div class="welcome-hero-content">
          <div class="row">
            <div class="col-sm-7">
              <div class="single-welcome-hero">
                <div class="welcome-hero-txt">
                  <h2>Pure. </h2>
                <!-- <h2> Unrefined.</h2> -->
                  <h2>Organic Shea Butter</h2>
                  <p>
                  Nourish your hair and skin with nature's best shea butter. <br>
                  The best way to care for your skin and hair is with Sheba!
                  </p>
                  <div class="packages-price">
                    <!-- <p>
                      $ 399.00
                      <del>$ 499.00</del>
                    </p> -->
                  </div>
                  <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
                    <span class="lnr lnr-plus-circle"></span>
                    shop <span>now</span>
                  </button>
                </div>
                <!--/.welcome-hero-txt-->
              </div>
              <!--/.single-welcome-hero-->
            </div>
            <!--/.col-->
            <div class="col-sm-5">
              <div class="single-welcome-hero">
                <div class="welcome-hero-img">
                  <img src="assets/images/slider/slider4.png" alt="slider image">
                </div>
                <!--/.welcome-hero-txt-->
              </div>
              <!--/.single-welcome-hero-->
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
        </div>
        <!--/.welcome-hero-content-->
      </div><!-- /.container-->
    </div><!-- /.single-slide-item-->

  </div><!-- /.item .active-->

  <div class="item">
    <div class="single-slide-item slide2">
      <div class="container">
        <div class="welcome-hero-content">
          <div class="row">
            <div class="col-sm-7">
              <div class="single-welcome-hero">
                <div class="welcome-hero-txt">
                  <h4>Unrefined</h4>
                  <h2>Shea butter</h2>
                  <p>
                    Its emollient properties make it a popular ingredient in many skincare and hair care products, including lotions,
                    creams, and conditioners. Shea butter is also known to be safe and non-irritating, making it an ideal choice for people
                    with sensitive skin.
                  </p>
                  <div class="packages-price">
                    <p>
                      GHC 30.00
                      <del>GHC 30.00</del>
                    </p>
                  </div>
                  <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
                    <span class="lnr lnr-plus-circle"></span>
                    add <span>to</span> cart
                  </button>
                  <button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
                    more info
                  </button>
                </div>
                <!--/.welcome-hero-txt-->
              </div>
              <!--/.single-welcome-hero-->
            </div>
            <!--/.col-->
            <div class="col-sm-5">
              <div class="single-welcome-hero">
                <div class="welcome-hero-img">
                  <img src="assets/images/slider/slider2.jpeg" alt="slider image">
                </div>
                <!--/.welcome-hero-txt-->
              </div>
              <!--/.single-welcome-hero-->
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
        </div>
        <!--/.welcome-hero-content-->
      </div><!-- /.container-->
    </div><!-- /.single-slide-item-->

  </div><!-- /.item .active-->

  <div class="item">
    <div class="single-slide-item slide3">
      <div class="container">
        <div class="welcome-hero-content">
          <div class="row">
            <div class="col-sm-7">
              <div class="single-welcome-hero">
                <div class="welcome-hero-txt">
                <h4>Unrefined</h4>
                <h2>Shea butter</h2>
                <p>
                  Its emollient properties make it a popular ingredient in many skincare and hair care products, including lotions,
                  creams, and conditioners. Shea butter is also known to be safe and non-irritating, making it an ideal choice for
                  people
                  with sensitive skin.
                </p>
                <div class="packages-price">
                  <p>
                    GHC 30.00
                    <del>GHC 30.00</del>
                    </p>
                  </div>
                  <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
                    <span class="lnr lnr-plus-circle"></span>
                    add <span>to</span> cart
                  </button>
                  <button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
                    more info
                  </button>
                </div>
                <!--/.price-->
              </div>
              <!--/.single-welcome-hero-->
            </div>
            <!--/.col-->
            <div class="col-sm-5">
              <div class="single-welcome-hero">
                <div class="welcome-hero-img">
                  <img src="assets/images/slider/slider3.jpeg" alt="slider image">
                </div>
                <!--/.welcome-hero-txt-->
              </div>
              <!--/.single-welcome-hero-->
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
        </div>
      </div><!-- /.container-->
    </div><!-- /.single-slide-item-->

  </div><!-- /.item .active-->
</div>
<!--populer-products start -->
<!-- <section id="populer-products" class="populer-products">
  <div class="container">
    <div class="populer-products-content">
      <div class="row">
        <div class="col-md-3">
          <div class="single-populer-products">
            <div class="single-populer-product-img mt40">
              <img src="assets/images/populer-products/p1.png" alt="populer-products images">
            </div>
            <h2><a href="#">arm chair</a></h2>
            <div class="single-populer-products-para">
              <p>Nemo enim ipsam voluptatem quia volu ptas sit asperna aut odit aut fugit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-populer-products">
            <div class="single-inner-populer-products">
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <div class="single-inner-populer-product-img">
                    <img src="assets/images/populer-products/p2.png" alt="populer-products images">
                  </div>
                </div>
                <div class="col-md-8 col-sm-12">
                  <div class="single-inner-populer-product-txt">
                    <h2>
                      <a href="#">
                        latest designed stool <span>and</span> chair
                      </a>
                    </h2>
                    <p>
                      Edi ut perspiciatis unde omnis iste natusina error sit voluptatem accusantium doloret mque
                      laudantium, totam rem aperiam.
                    </p>
                    <div class="populer-products-price">
                      <h4>Sales Start from <span>$99.00</span></h4>
                    </div>
                    <button class="btn-cart welcome-add-cart populer-products-btn" onclick="window.location.href='#'">
                      discover more
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single-populer-products">
            <div class="single-populer-products">
              <div class="single-populer-product-img">
                <img src="assets/images/populer-products/p3.png" alt="populer-products images">
              </div>
              <h2><a href="#">hanging lamp</a></h2>
              <div class="single-populer-products-para">
                <p>Nemo enim ipsam voluptatem quia volu ptas sit asperna aut odit aut fugit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->

<!-- </section> -->
<!--/.populer-products-->
<!--populer-products end-->

<!--new-arrivals start -->


<!-- <app-products></app-products> -->



<!--/.new-arrivals-->
<!--new-arrivals end -->

<!--sofa-collection start -->
<section id="sofa-collection">
  <div class="owl-carousel owl-theme" id="collection-carousel">
    <div class="sofa-collection collectionbg1">
      <div class="container">
        <div class="sofa-collection-txt">
          <h2>Mint Infused Shea Butter</h2>
          <p>
            Rich in vitamins A and E, as well as essential fatty acids, making it an excellent moisturizer for dry, damaged, or
            sensitive skin. It can also be used to help reduce the appearance of fine lines and wrinkles, and to soothe skin
            conditions such as eczema and psoriasis.
          </p>
          <div class="sofa-collection-price">
            <h4>starting from <span>GHC 30.00</span></h4>
          </div>
          <button class="btn-cart welcome-add-cart sofa-collection-btn" onclick="window.location.href='#'">
            view more
          </button>
        </div>
      </div>
    </div>
    <!--/.sofa-collection-->
    <div class="sofa-collection collectionbg2">
      <div class="container">
        <div class="sofa-collection-txt">
          <h2>Vanilla Infused Shea Butter</h2>
          <p>
            Its emollient properties make it a popular ingredient in many skincare and hair care products, including lotions,
            creams, and conditioners. Shea butter is also known to be safe and non-irritating, making it an ideal choice for people
            with sensitive skin.
          </p>
          <div class="sofa-collection-price">
            <h4>starting from <span>GHC 30</span></h4>
          </div>
          <button class="btn-cart welcome-add-cart sofa-collection-btn" onclick="window.location.href='#'">
            view more
          </button>
        </div>
      </div>
    </div>
    <!--/.sofa-collection-->
  </div>
  <!--/.collection-carousel-->

</section>
<!--/.sofa-collection-->
<!--sofa-collection end -->

<!--feature start -->
<section id="feature" class="feature">
  <div class="container">
    <div class="section-header">
      <h2>featured products</h2>
    </div>
    <!--/.section-header-->
    <div class="feature-content">
      <div class="offset-md-1" style="display: flex;">
        <div style="width: 30%;" >
          <div class="single-feature text-center">
            <img class="product-image" src="assets/images/features/f1.jpeg" alt="feature image">
            <div class="single-feature-txt text-center">
              <p>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <span class="spacial-feature-icon"><i class="fa fa-star"></i></span><br />
                <span class="feature-review">(51 reviews)</span>
              </p>
              <h3><a href="#">Unscented Shea butter</a></h3>
              <h5>GHC 30.00</h5>
            </div>
          </div>
        </div>
        <div  style="width: 30%;">
          <div class="single-feature text-center">
            <img class="product-image" src="assets/images/features/f2.jpeg" alt="feature image">
            <div class="single-feature-txt text-center">
              <p>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <span class="spacial-feature-icon"><i class="fa fa-star"></i></span><br />
                <span class="feature-review">(45 reviews)</span>
              </p>
            <h3><a href="#">Mint Infused Shea butter</a></h3>
            <h5>GHC 30.00</h5>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-3">
          <div class="single-feature">
            <img class="product-image" src="assets/images/features/f3.jpeg" alt="feature image">
            <div class="single-feature-txt text-center">
              <p>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <span class="spacial-feature-icon"><i class="fa fa-star"></i></span>
                <span class="feature-review">(40 reviews)</span>
              </p>
              <h3><a href="#">Shea butter</a></h3>
              <h5>GHC 30.00</h5>
            </div>
          </div>
        </div> -->
        <div  style="width: 30%;">
          <div class="single-feature text-center">
            <img class="product-image" src="assets/images/features/f4.jpeg" alt="feature image">
            <div class="single-feature-txt text-center">
              <p>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <span class="spacial-feature-icon"><i class="fa fa-star"></i></span><br />
                <span class="feature-review">(38 reviews)</span>
              </p>
            <h3><a href="#">Vanilla Infused Shea butter</a></h3>
            <h5>GHC 30.00</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->

</section>
<!--/.feature-->
<!--feature end -->

<!--/.clients-->
<!-- clients end -->

<!--newsletter strat -->

