<section id="new-arrivals" class="new-arrivals">
  <div class="container">
    <div class="section-header">
      <!-- <h2>new arrivals</h2> -->
    </div>
    <div class="new-arrivals-content">
      <div class="row">

        <div *ngFor="let product of products | async" class="col-md-3 col-sm-4">
          <div class="single-new-arrival">
            <div class="single-new-arrival-bg">
              <img src="{{product.imageUrl}}" alt="new-arrivals images" class="product_image">
              <div class="single-new-arrival-bg-overlay"></div>
              <div class="sale bg-1">
                <p  data-toggle="modal" data-target="#exampleModal" (click)="clickProduct(product)" style="cursor: pointer;">detail</p>
              </div>
              <div class="new-arrival-cart">
                <p>
                  <span class="lnr lnr-cart"></span>
                  <a style="cursor: pointer;" (click)= "addProductToCart(product)">add <span>to </span> cart</a>
                </p>
                <p class="arrival-review pull-right">
                  <span class="lnr lnr-heart"></span>
                  <span class="lnr lnr-frame-expand"></span>
                </p>
              </div>
            </div>
            <h4><a href="#">{{product.title}}</a></h4>
            <p class="arrival-product-price">GHC {{product.price}}</p>
          </div>
        </div>


        <!-- <div class="col-md-3 col-sm-4">
          <div class="single-new-arrival">
            <div class="single-new-arrival-bg">
              <img src="assets/images/collection/arrivals1.png" alt="new-arrivals images">
              <div class="single-new-arrival-bg-overlay"></div>
              <div class="sale bg-1">
                <p>sale</p>
              </div>
              <div class="new-arrival-cart">
                <p>
                  <span class="lnr lnr-cart"></span>
                  <a href="#">add <span>to </span> cart</a>
                </p>
                <p class="arrival-review pull-right">
                  <span class="lnr lnr-heart"></span>
                  <span class="lnr lnr-frame-expand"></span>
                </p>
              </div>
            </div>
            <h4><a href="#">Mint Infused Shea Butter</a></h4>
            <p class="arrival-product-price">GHC 30.00</p>
          </div>
        </div> -->
        <!-- <div class="col-md-3 col-sm-4">
          <div class="single-new-arrival">
            <div class="single-new-arrival-bg">
              <img src="assets/images/collection/arrivals2.png" alt="new-arrivals images">
              <div class="single-new-arrival-bg-overlay"></div>
              <div class="sale bg-2">
                <p>sale</p>
              </div>
              <div class="new-arrival-cart">
                <p>
                  <span class="lnr lnr-cart"></span>
                  <a href="#">add <span>to </span> cart</a>
                </p>
                <p class="arrival-review pull-right">
                  <span class="lnr lnr-heart"></span>
                  <span class="lnr lnr-frame-expand"></span>
                </p>
              </div>
            </div> -->
            <!-- <h4><a href="#">Euca Shea Butter</a></h4>
            <p class="arrival-product-price">GHC 30.00</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="single-new-arrival">
            <div class="single-new-arrival-bg">
              <img src="assets/images/collection/arrivals3.png" alt="new-arrivals images">
              <div class="single-new-arrival-bg-overlay"></div>
              <div class="new-arrival-cart">
                <p>
                  <span class="lnr lnr-cart"></span>
                  <a href="#">add <span>to </span> cart</a>
                </p>
                <p class="arrival-review pull-right">
                  <span class="lnr lnr-heart"></span>
                  <span class="lnr lnr-frame-expand"></span>
                </p>
              </div>
            </div> -->
            <!-- <h4><a href="#">Cocoa Butter</a></h4>
            <p class="arrival-product-price">GHC 30.00</p>
          </div>
        </div> -->
        <!-- <div class="col-md-3 col-sm-4">
          <div class="single-new-arrival">
            <div class="single-new-arrival-bg">
              <img src="assets/images/collection/arrivals4.png" alt="new-arrivals images">
              <div class="single-new-arrival-bg-overlay"></div>
              <div class="sale bg-1">
                <p>sale</p>
              </div>
              <div class="new-arrival-cart">
                <p>
                  <span class="lnr lnr-cart"></span>
                  <a href="#">add <span>to </span> cart</a>
                </p>
                <p class="arrival-review pull-right">
                  <span class="lnr lnr-heart"></span>
                  <span class="lnr lnr-frame-expand"></span>
                </p>
              </div>
            </div> -->
            <!-- <h4><a href="#">Vanilla Infused Shea Butter</a></h4>
            <p class="arrival-product-price">GHC 30.00</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="single-new-arrival">
            <div class="single-new-arrival-bg">
              <img src="assets/images/collection/arrivals5.png" alt="new-arrivals images">
              <div class="single-new-arrival-bg-overlay"></div>
              <div class="new-arrival-cart">
                <p>
                  <span class="lnr lnr-cart"></span>
                  <a href="#">add <span>to </span> cart</a>
                </p>
                <p class="arrival-review pull-right">
                  <span class="lnr lnr-heart"></span>
                  <span class="lnr lnr-frame-expand"></span>
                </p>
              </div>
            </div> -->
            <!-- <h4><a href="#">Unscented Shea Butter</a></h4>
            <p class="arrival-product-price">GHC 30.00</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="single-new-arrival">
            <div class="single-new-arrival-bg">
              <img src="assets/images/collection/arrivals6.png" alt="new-arrivals images">
              <div class="single-new-arrival-bg-overlay"></div>
              <div class="sale bg-1">
                <p>sale</p>
              </div>
              <div class="new-arrival-cart">
                <p>
                  <span class="lnr lnr-cart"></span>
                  <a href="#">add <span>to </span> cart</a>
                </p>
                <p class="arrival-review pull-right">
                  <span class="lnr lnr-heart"></span>
                  <span class="lnr lnr-frame-expand"></span>
                </p>
              </div>
            </div>le -->
            <!-- <h4><a href="#">Honey Infused Shea Butter</a></h4>
            <p class="arrival-product-price">GHC 30.00</p> -->
          </div>
        </div>
        <!-- <div class="col-md-3 col-sm-4">
          <div class="single-new-arrival">
            <div class="single-new-arrival-bg">
              <img src="assets/images/collection/arrivals7.png" alt="new-arrivals images">
              <div class="single-new-arrival-bg-overlay"></div>
              <div class="sale bg-2">
                <p>sale</p>
              </div>
              <div class="new-arrival-cart">
                <p>
                  <span class="lnr lnr-cart"></span>
                  <a href="#">add <span>to </span> cart</a>
                </p>
                <p class="arrival-review pull-right">
                  <span class="lnr lnr-heart"></span>
                  <span class="lnr lnr-frame-expand"></span>
                </p>
              </div>
            </div> -->
            <!-- <h4><a href="#">arm chair</a></h4>
            <p class="arrival-product-price">$90.00</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="single-new-arrival">
            <div class="single-new-arrival-bg">
              <img src="assets/images/collection/arrivals8.png" alt="new-arrivals images">
              <div class="single-new-arrival-bg-overlay"></div>
              <div class="new-arrival-cart">
                <p>
                  <span class="lnr lnr-cart"></span>
                  <a href="#">add <span>to </span> cart</a>
                </p>
                <p class="arrival-review pull-right">
                  <span class="lnr lnr-heart"></span>
                  <span class="lnr lnr-frame-expand"></span>
                </p>
              </div>
            </div> -->
            <!-- <h4><a href="#">Original Shea Butter</a></h4>
            <p class="arrival-product-price">GHC 30.00</p> -->
          </div>
        <!-- </div>
      </div> -->
    <!-- </div> -->
  <!-- </div> -->
</section>


<div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content p-5">
      <div class="dark-grey-text mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn p-5" style="padding: 20px;">

          <!--Grid column-->
          <div class="col-md-6 mb-4 ps-5 text-center">

            <img src="{{selectedProduct?.imageUrl}}" width="80%" class="img-fluid" alt="">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4 position-relative" style="left: -10px; padding-left: 0;">

            <!--Content-->
            <div class="">
              <p class="h3">
                {{selectedProduct?.title}}
              </p>
              <p class="lead">
                <span class="mr-1 h6">
                  <del>${{(selectedProduct?.price || 0) + 20}}</del>
                </span>&nbsp; 
                <span>${{selectedProduct?.price}}</span>
              </p>

              <p class="lead font-weight-bold">Description</p>

              <p>{{selectedProduct?.description}}</p>

              <form class="d-flex justify-content-left">
                <!-- Default input -->
                <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px; margin-bottom: 10px; margin-top: 10px;">
                <button class="btn btn-primary btn-md my-0 p" type="submit" (click)="addProductToCart(selectedProduct)">Add to cart
                  <i class="fas fa-shopping-cart ml-1"></i>
                </button>

              </form>

            </div>
            <!--Content-->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
    </div>
  </div>
</div>
