<!-- Start Cart  -->
<div style="padding-top: 150px;">
    <div class="container">
        <div class="title-left">
            <h2>Checkout</h2>
        </div>
        <form class="needs-validation" novalidate>
            <div class="row">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="checkout-address">

                        <div class="mb-3 form-group">
                            <label for="firstName">First name *</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback"> Valid first name is required. </div>
                        </div>
                        <div class="mb-3">
                            <label for="lastName">Last name *</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                            <div class="invalid-feedback"> Valid last name is required. </div>
                        </div>

                        <div class="mb-3">
                            <label for="email">Email Address *</label>
                            <input type="email" class="form-control" id="email" placeholder="">
                            <div class="invalid-feedback"> Please enter a valid email address for shipping updates.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address">Address *</label>
                            <textarea type="text" class="form-control" id="address" placeholder="" required>

                            </textarea>
                            <div class="invalid-feedback"> Please enter your shipping address. </div>
                        </div>
                        <div class="mb-3">
                            <label for="address2">Address 2 *</label>
                            <textarea type="text" class="form-control" id="address2" placeholder="" required>
                            </textarea>
                        </div>
                     

                    </div>
                </div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="odr-box">
                                <div class="title-left">
                                    <h3>Shopping Cart</h3>
                                </div>
                                <div class="rounded p-2 bg-light">
                                    <div class="media mb-2 border-bottom"
                                        *ngFor="let cartProduct of cartProducts | async">
                                        <div class="media-body">
                                            <div>
                                                <img width="110" height="110" src="{{cartProduct.imageUrl}}"
                                                    class="cart-thumb" alt="image" /> <a
                                                    href="detail.html">{{cartProduct.title}}</a>
                                            </div>

                                            <div class="small text-muted">Price: GHC {{cartProduct.unitPrice}} <span
                                                    class="mx-2">|</span> Qty: 1
                                                <span class="mx-2">|</span> Subtotal: GHC {{cartProduct.unitPrice}}
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="d-flex">
                                <h4>Shipping Cost</h4>
                                <div class="ml-auto font-weight-bold"> Free </div>
                            </div>
                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Grand Total</h5>
                                <div class="ml-auto h5"> GHC {{ totalPrice | async }} </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-12 d-flex shopping-box">
                            <input class="ml-auto btn hvr-hover" type="submit" value="Place Order" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Cart -->

<!-- Start Instagram Feed  -->